body {
  background: blue;
}



/*before hover*/

.map-container {
position:relative;
width:732px;
height:444px;
}

#map-outline {
  width:732px;
  height:444px;
  position:absolute;
}

#states-outline {
  width:732px;
  height:444px;
  position:absolute;
  z-index: 100;

}

.states{
  position:absolute;
  display:none;
  z-index: 50;
}



/*on hover state*/

.states-hover{
  display:inline;
  position:absolute;
}


/*on click state*/

#state-div {
  height:200px;
  width:200px;
  background-color:yellow;
  position:absolute;
  bottom:0;
  right:0;
  z-index:200;
}

#state-div:hover{
 cursor:pointer;
}
