body {
  background: blue;
}



/*before hover*/

.map-container {
position:relative;
width:732px;
height:444px;
}

#map-outline {
  width:732px;
  height:444px;
  position:absolute;
}

#states-outline {
  width:732px;
  height:444px;
  position:absolute;
  z-index: 100;

}

.states{
  position:absolute;
  display:none;
  z-index: 50;
}



/*on hover*/

.states-hover{
  display:inline;
  position:absolute;
}
